<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
        <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
</style>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/product1">P1</a></li>
        <li><a href="/product2">P2</a></li>
        <li><a href="/product3">P3</a></li>
    </ul>
    <h1>73lo 3ny</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0ulqGQldFPr9GxSOMG0IxHBdRQvH_xvG25Q&usqp=CAU">
    <br><a href="">two cds for this movie <br> cost : 400$</a>
    <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVYgeugdzWSaRq9q_fkMFLSnBM36Gecoiarw&usqp=CAU">
    <br><a href="">One cd for this movie <br> cost : 150$</a>
    <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAXE8G3ZkanP5P50vrS_7NnEi_4JZU6ccg-Q&usqp=CAU">
    <br><a href="">One cd for this movie <br> cost : 300$</a>
    <center><button>buy</button></center>
    <a href="/"><button>home</button></a> 

    

</body>
</html>