<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <center> <h1>Ebay</h1></center>
    <h3>Description:</h3>
    <p>Dear user , 
    <br>hear you can watch what ever movie you want for a cheap price 
    <br>Have fun :)</p>
    <a href="/product"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0ulqGQldFPr9GxSOMG0IxHBdRQvH_xvG25Q&usqp=CAU"></a>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVYgeugdzWSaRq9q_fkMFLSnBM36Gecoiarw&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAXE8G3ZkanP5P50vrS_7NnEi_4JZU6ccg-Q&usqp=CAU">
    <a href="/cart"><button>open to cart</button></a> 


</body>
</html>