<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>
    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
</style>
 <center> <h1>Ebay</h1></center>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/product1">P1</a></li>
        <li><a href="/product2">P2</a></li>
        <li><a href="/product3">P3</a></li>
    </ul>
   
    <h3>Description:</h3>
    <p>Dear user , 
    <br>hear you can watch what ever movie you want for a cheap price 
    <br>Have fun :)</p>
    <a href="/product1"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0ulqGQldFPr9GxSOMG0IxHBdRQvH_xvG25Q&usqp=CAU"></a>
    <a href="/product2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVYgeugdzWSaRq9q_fkMFLSnBM36Gecoiarw&usqp=CAU"></a>
    <a href="/product3"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAXE8G3ZkanP5P50vrS_7NnEi_4JZU6ccg-Q&usqp=CAU"></a>
    
    
    <a href="/cart"><button>open cart</button></a> 


</body>
</html>