<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0ulqGQldFPr9GxSOMG0IxHBdRQvH_xvG25Q&usqp=CAU">
    <p>informations :
    <br>89% of the people liked the movie 
    <br>John Wick 4 is a 2023 American action film directed by Chad Stahlsky and starring Keanu Reeves, Donnie Yen, Bill Scottsgard, Laurence Fishburne, Hiroyuki Sanada, Lance Reddick, Rina Sawayama, Scott Adkins, Clancy Brown, Natalia Tana, Shamir Anderson and Ian McShane. This is the fourth film in the John Wick film series.
    <br> 169 min.</p>
    <button>Buy now</button>
   <a href="/cart"><button>Add to cart</button></a> 

</body>
</html>
